.text-type {
    display: block;
    line-height: 1.15;
    min-height: 1.15em;
    white-space: pre-wrap;
}

.text-type:empty::before {
    content: "\00A0";
}

.text-type__cursor {
    margin-left: 0.25rem;
    display: inline-block;
    opacity: 1;
}

.text-type__cursor--hidden {
    visibility: hidden;
}
